body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  color: #ffffff;
}
.container {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  text-align: center;
}

input {
  padding: 10px;
  margin: 15px 0;
  width: 94%;
  background: #333;
  border: 1px solid #555;
  color: #ffffff;
  cursor: text;
}
button {
  background: #28a745;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
button:hover {
  background: #218838;
}
